body{
    max-width: 960px;
    margin: auto;
    text-align: center;
    padding: 12px;
}

table{
    width: auto;
    margin: auto;
    overflow-x:scroll;
    display:block;
}

table, th, td{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}
