body{
    max-width: 960px;
    margin: auto;
    text-align: center;
}

table{
    width: auto;
    margin: auto;
}

table, th, td{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}
